################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicServiceComparison/bin
/MusicServiceComparison/obj
/.vs
/packages
