body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.album-art {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.artist-header {
    padding: 15px;
}

.service-column {
    width: 10%;
}
.artist-image {
    width: 150px;
    height: 150px;
}
.search-bar input[type=search] {
    display: inline;
    height: 40px;
    margin: 0px;
    background-color: #FFF;
}
.spacer {
    flex: 1;
}