<footer class="page-footer blue-grey darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Support</h5>
                <p class="grey-text text-lighten-4">DogeCoin: DEn4S3dmgZqnsPqL7Wo12ygfzSN9cgjLMF</p>
                <p class="grey-text text-lighten-4">LiteCoin: LemBRyKoe3h4rwBS9KXQcxKixthtLExYTZ</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-2">
        <div class="container">
            © 2016
        </div>
    </div>
</footer>
