<form action="~/search/spotify" method="get">
    <div class="input-field search-bar">
        <input id="search" type="search" name="q" required>
        <label for="search"><i class="material-icons" style="color: #444">search</i></label>
        <i class="material-icons" style="color: #444">close</i>
    </div>
</form>
